.note__container {
    border-right: 2px solid darkslategray;
    padding: 1rem;
    overflow-y: scroll;
}

.search__note {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid antiquewhite;
}

.search__note label {
    display: block;
    margin-bottom: .5rem;
    color: darkslategray;
    font-size: 18px;
}

.search__note input {
    width: 100%;
    padding: .5rem;
    outline: none;
    border: 2px solid antiquewhite;
    color: darkslategray;
}

.note {
    background-color: antiquewhite;
    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(0,0,0,.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.note__head {
    margin-bottom: .5rem;
    color: darkslategray;
    font-size: 32px;
}

.note__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note__time {
    font-size: 14px;
    margin-right: 1rem;
    color: lightslategray;
}

.note__btn {
    width: 28px;
    height: 28px;
    margin: 0 .5rem;
    border: 2px solid darkslategray;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: darkslategray;
    transition: .2s;
}

.note__btn:hover {
    background-color: darkslategray;
    color: white;
}